body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
    padding: 10px 180px;
    padding-bottom: 60px;
}

.top-header {
    display: flex;
    justify-content: space-between;
}

#header-text {
    font-size: 24px;
    color: #f9faf8;
}

#title-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.header-links {
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;
}

.white-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#random-info {
    font-size: 36px;
    color: #1f2937;
    font-weight: 600;
}

.boxes {
    display: flex;
    gap: 50px;
    margin: 40px;
}

.box-column {
    display: flex;
    flex-direction: column;
    width: 108px;
    text-align: center;
    gap: 5px;
}

.box {
    border: 4px blue solid;
    height: 100px;
    width: 100px;
}

.grey-body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 100px;
}

.quote-column {
    display: flex;
    flex-direction: column;
    width: 780px;
}

#quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

#quoter {
    display: flex;
    font-weight: 600;
    justify-content: flex-end;
}

.action-text {
    display: flex;
    flex-direction: column;
    color: white;
}

#call-to-action {
    font-weight: 700;
}

#action-subtext {
    font-size: 14px;
}

.blue-box {
    display: flex;
    padding: 30px 60px;
    justify-content: space-between;
    background-color: #3882f6;
    width: 800px;
}

.top-footer {
    padding: 80px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.bottom-header {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.title-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

button {
    width: 80px;
    color: white;
    background-color: #3882f6;
}

#button-footer {
    border: 3px white solid;
}

img {
    border: 5px solid red;
    height: 50%;
    width: 50%;
}